html, body {
    width: 100%;
    height: 100%;
    color: #444;
    font-family: "san francisco";
    -webkit-font-smoothing: antialiased;
    background: #848DAB;
 
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

#container {
    position: fixed;
    width: 80%;
    height: 82%;
    top: 10%;
    left: 10%;
    right: 10%;
    background: #2C385E;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    -webkit-animation-name: bounceIn;
    -webkit-animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: bounceIn;
    -moz-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    animation-name: bounceIn;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

#Center {
    width: 94%;
    height: 440px;
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 3%;
    background: rgba(245, 245, 245, 0.87);
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    overflow-y: scroll;
}

  h1,h2 {
    margin: 0px;
  }

  #HotelName {
    margin-left: 40px;
    display: inline-block;
    color: white;
    font-size: 35px;
    font-weight: bold;
  }  

  header{
    margin-top: -5px;
    font-size: 20px;
    display: inline-block;
  }

  header:hover {
    display: inline-block;
  }

  ul{
    list-style: none;
  }

  #menu {
    padding-left:100px;
  }

  #menu li>a{
    color: white;
    padding-left: 8px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    width: 120px;
  }
  #menu li>a:hover{
    color: white;
  }
  #menu>li{
    float: left;
    text-align:center
  }
  #menu>li>ul{
    display: none;
  }
  #menu>li:hover>ul {
    display:block;
  } 
  
  #Subtitle {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    width: 60%;
    text-align: center;
    color: #000000;
  }  

  input {
    margin-left: 10px;
    font-size: 28px;
  }

  input[type=submit] {
    width: 20%;
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
    background-color: #ff70388f;
  }

  input[type=submit]:hover {
    background-color: #000742;
    color: whitesmoke;
  }

  .btn {
    font-size: 15px;
    width: 20%;
    margin-left: 31px;
    color: black;
    font-weight: bold;
    background-color: #ff70388f;
  }

  .section {
    width: 94%;
    height: 150px;
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 3%;
    background: #ff70388f;
    border-radius: 3px;
    border: 1px solid white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    overflow-y: scroll;
  }

  .section table {
    width: 80%;
    margin-left: 10%;
    color: #000742;
  }

  .section table>thead>tr>th {
    font-size: 25px;
    border-bottom: #000742 3px solid;
  }

  .section table>tbody {
    text-align: center;
  }

  .section table>tbody>tr>td {
    font-size: 20px;
  }

  li {
    list-style: none;
    margin-top: 20px;
    text-align: center;
    color: black;
  }

  label {
    font-size: 25px;
  }